html{
  overflow-x: hidden;
}

/* CSS HELENE */
.navbar{
  margin-bottom: 0;
}

/* CSS HELENE */

#Home{
  background-image: url(../img/payments-banner-graphic.png);
}
.bubule{
  position: fixed;
  padding: 1em;
  top: 90%;
  right: 2.5%;
  border-radius: 50%;
  box-shadow: 0px 4px 10px grey;
  z-index: 99;
  background:#8080BE;
}
.bidule h1{
  color: white;
}
.bidule p{
  color: white;
}
.textocenter {
    display: flex;
    align-items: center;
}
.blocDroite{
  border-left: 1px solid black;
}
.blocGauche{
  border-right:1px solid black;
}
.fnddulimage1{
  background-color: #7CD5EF;
}
.fnddulimage2{
  background-color: #8080BE;
}
.img-arrondie{
  border-radius: 15px;
}

.colFoot{
  background-color: #242629;
  color: #939291;
}
footer ul{
  list-style: none;
}
