html{
  overflow-x: hidden;
}
body{
  font-family: 'Raleway', sans-serif;
}
.bubule{/*petite bulle sur fond violet en fixed*/
  position: fixed;
  padding: 1em;
  top: 90%;
  right: 2.5%;
  border-radius: 50%;
  box-shadow: 0px 4px 10px grey;
  z-index: 99;
  background:#8080BE;
}

/******* section Home ********/
#Home{
  background-image: url(../img/payments-banner-graphic.png);
  height: 85vh;
}
.navbar{/*pour enlever le margin de base de bootstrap*/
  margin-bottom: 0;
}
.navbar-left li img{
  height: 7vh;
  padding-top: 1.8vh;
}
.navbar-left li p{
  line-height: 9vh;
  color: white;
  padding-left: 1vw;
  font-size: 1.25em;
  letter-spacing: 0.3em;
}

.navbar-right a{
  color: white;
  font-size: 0.9em;
}
.navbar-right a:hover{
  color:black;
}

.bidule h1{
  color: white;
}
.bidule p{
  color: white;
  font-size: 1.5em;
  margin-top: 4vh;
}
.spaceToplaboom{
  margin-top: 15vh;
}
.btnhome{
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 0.8em;
  color: #7E7EB1;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/******* section Infofo ********/
#Infofo .row{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.blocDroite{
  /*border-left: 1px solid black;*/
}
.info1{
  height: 11vh;
}

.blocCentre{
  border-left: 1px solid #DDD;
  border-right:1px solid #DDD;
}
.info2{
  height: 11vh;
}

.blocGauche{
  /*border-right:1px solid black;*/
}
.info3{
  height: 11vh;
}

/******* section Pricing ********/
#Pricing{
  background-color: #F6F9FB;
  border-top: 1px solid #DDD;
}
#Pricing .row{
  margin-top: 6vh;
}

.Princingtext{
  font-size: 1.7em;
  color: #777777;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}
.Dolls{
  color:#8080BE;
  font-size: 5em;
}
.Pricingtext2{
  font-size: 2em;
}
.bck-ACH{
  background-color: #4C535C;
}
.bck-ACH p{
  color: white;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

/******* section img-et-Text ********/
.Dcale{
  transform: translateY(0vh 5vh);
}
.textocenter {
  display: flex;
  align-items: center;
}
.fnddulimage1{
  background-color: #7CD5EF;
  overflow-y: hidden;
  height: 78vh;
}
.fnddulimage2{
  background-color: #8080BE;
  overflow-y: hidden;
  height: 78vh;
}
.img-arrondie{
  border-radius: 15px;
}
.Dcale{
  transform: translateY(11vh);
}

/**********ZoneReady***********/


/**********footer***********/
.colFoot{
  background-color: #242629;
  color: #939291;
}
footer ul{
  list-style: none;
}
.nespacefoot{
  margin-top: 8vh;
}
